@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap');
body{
  font-family: 'DM Sans', sans-serif;
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: scroll;
}
.john{
  background-image: url('./assets/Poster.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
/* @media(min-width:300px)and(max-width:639px){
  .mobile{
    width: 20%;
    padding: unset !important;
    margin: unset !important;
    font-size: 10px;
    background-color: rebeccapurple !important;
  }
  
} */
@media(min-width:1000px){
  .john{
    background-image: url('./assets/Poster.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }
 
}
